.table-header{
    background-color: rgb(255, 216, 0);
}
.navbar {
    background-color: rgb(255, 204, 0);
}
.title-name{
    color:black;
    font-weight:bold;
    font-family:'Lucida Sans';
    display:block;
    font-size:2.2rem;
    margin-top:1rem;
    text-align:center;
}
hr {
    background-color: rgb(255, 204, 0);
}
.logo {
    height : 60px;
    
    margin-top:.1rem;
    margin-left:1rem;
    margin-right:.2rem;
    padding-top:.1rem;
    padding-right:.1rem;
    padding-bottom:.1rem;
    position:inherit !important;
   
}

.panel > .panel-heading {
    background-color: white;
    border-color: rgb(255, 204, 0);
}
.navbar-inverse .navbar-nav >li >a{
    color:black;
}
.navbar-right{
    margin-right:1rem;
}
