@if (Session["userId"] != null)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
    </ul>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="">Hello! @Session["userName"] </a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Login", "Login", "Account")</li>*@
    </ul>
}