
@{
    ViewBag.Title = "Index";
}

<h2></h2>
<br /><br />
<h4 class="text-center text-success">
     Successfully created new user!! <br />
    Click here to @Html.ActionLink("Login","Login","Account")
</h4>

